@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*For Cookies*@
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@if (SignInManager.IsSignedIn(User))
{
    var userName = HttpContextAccessor.HttpContext.Request.Cookies["userName"] ?? UserManager.GetUserName(User);
    <li>
        <div class="container justify-content-lg-right text-lg-right justify-content-sm-left text-sm-left ">
            <div class="row justify-content-lg-right text-lg-right justify-content-sm-left text-sm-left p-0">
                <div class="col ml-sm-4 p-sm-0 justify-content-lg-right text-lg-right justify-content-sm-left text-sm-left">
                    <a tabindex="63" class="navbar-text justify-content-lg-right text-lg-right justify-content-sm-left text-sm-left p-0" style="color: #E4E6E6"><b>Hello&nbsp;@userName!</b></a>
                </div>
            </div>
            <div class="row p-0 justify-content-lg-right text-lg-right justify-content-sm-left text-sm-left">
                <div class="col ml-sm-4 p-sm-0">
                    @if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Request.Cookies["userID"]))
                    {
                        <a tabindex="64" class="nav-link p-0 justify-content-lg-right text-lg-right justify-content-sm-left text-sm-left" asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="@HttpContextAccessor.HttpContext.Request.Cookies["userID"]" style="color: #E4E6E6">Manage Account</a>
                    }
                    <form id="frmLogout" class="justify-content-lg-right text-lg-right justify-content-sm-left text-sm-left" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <a tabindex="65" href="javascript:$('#frmLogout').submit();" type="submit" class="nav-link p-0 justify-content-lg-right text-lg-right justify-content-sm-left text-sm-left" style="color: #E4E6E6">Logout&nbsp;</a>
                    </form>
                </div>
            </div>
        </div>
    </li>
    <li>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" style="color: #E4E6E6" tabindex="62">Login</a>
    </li>
}
